<p>Exemple de thème (en cours, y a clairement plein de choses à changer encore, là j'ai fait du custom barre pur donc c'est pas forcément au point)</p>

<div class="graph-cont">
    <div class="bar theme1">Les lapins (15%)</div>
    <div class="bar theme2">Les canards (25%)</div>
    <div class="bar theme3">Les lions (10%)</div>
    <div class="bar theme4">Les licornes (35%)</div>
    <div class="bar theme5">Les lamas (15%)</div>
</div>


<button class="create-post"><span class="fa-stack">
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <strong class="fa-stack-1x">
        1
    </strong>
</span> Create new post
</button>

<button class="create-post"><span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        2
    </strong>
</span> Create new post
</button>
<button class="create-post"><span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        3
    </strong>
</span> Create new post
</button>
<button class="create-post"><span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        4
    </strong>
</span> Create new post
</button>

<button class="create-post"><span class="fa-stack">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
        5
    </strong>
</span> Create new post
</button>
