.bar{
    height: 20%;
    max-width: 75%;
    margin: 0 auto 10px auto;
    line-height: 8vh;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.bar:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.bar::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 8vh;
    top: 0;
    z-index: -2;
    background: #ecf0f1;
}

.bar::after{
    content: '';
    height: 8vh;
    background: red;
    transition: 0.7s;
    display: block;
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@-webkit-keyframes bar-before{
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

.theme1::after {
    background: red;
    width: 15%;
}

.theme2::after {
    background: #2ecc71;
    width: 25%;
}

.theme3::after {
    background: blue;
    width: 10%;
}

.theme4::after {
    background: violet;
    width: 35%;
}

.theme5::after {
    background: orange;
    width: 15%;
}

.vote-theme {
    float:right;
    background-color: green;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin: 18px 0 auto;
}

.v-theme1{
    background-color: red;
}

.v-theme2{
    background-color: #2ecc71;
}

.v-theme3{
    background-color: blue;
}

.v-theme4{
    background-color: violet;
}

.v-theme5{
    background-color: orange;
}
