<div class="write-new">
    <form action="#" [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>
            <textarea cols="50" placeholder="Write your comment here" name="comment" formControlName="comment"></textarea>
        </label>
        <div>
            <img [src]="author.photo !== null ? author.photo : '../../../assets/default-pp.png'" width="35"
                 alt="Profile of Bradley Jones" title="{{author.username}}"/>
            <button class="btn" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>
