<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://media.publit.io/file/video-f.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h2 class="display-3">Theme of the week</h2>
                <p class="lead mb-0">Name of the theme</p>
            </div>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

            </div>
        </div>
    </div>
</section>


<button (click)="openDialog()">test pop-up</button>
<button (click)="testGetPost(1)">test get post by id</button>
