<head>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
</head>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://media.publit.io/file/video-f.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h2 class="display-3">Theme of the week</h2>
                <p class="lead mb-0">{{currentThemeTitle}}</p>
            </div>
        </div>
    </div>
</header>

<div class="feed-container">
    <div class="py-5 justify-content-center d-flex text-center">
        <button class="create-post" (click)="openDialog()" *ngIf="isUserLoggedIn()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Create new post
        </button>

        <button class="next-theme" routerLink="/themes">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Next theme
        </button>


        <button class="dropdown-filter" type="button" id="dropdownMenuButton" (click)="toggleDisplayFilterForm()">
            <i class="fa fa-sort pr-2" aria-hidden="true"></i> Filter
        </button>
    </div>

    <div class="filter-options"
         [class.display-filter-form]="displayFilterForm"
         [class.hide-filter-form]="!displayFilterForm"
         [hidden]="hideFilterForm"
    >
        <form [formGroup]="sortForm" (ngSubmit)="onSubmitForm()">
            <div class="filter-options-container">

                <div class="form-group col">
                    <label for="theme">Theme</label>
                    <select class="form-control" formControlName="theme">
                        <option value=0>Current</option>
                        <option *ngFor="let theme of availableThemes" value="{{ theme.id }}">{{ theme.title }}</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="direction">Order</label>
                    <select class="form-control" formControlName="direction">
                        <option value="DESC">Descending</option>
                        <option value="ASC">Ascending</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="sort">Sorte By</label>
                    <select class="form-control" formControlName="sort">
                        <option value="score">Score</option>
                        <option value="date">Date</option>
                        <option value="nbComment">Number of comments</option>
                        <option value="nbVotes">Number of votes</option>
                    </select>
                </div>

                <div class="form-group col">
                    <label for="labels">Labels</label>
                    <input type="text" class="form-control" formControlName="labels"
                           placeholder="Ex : label1,label2,...">
                </div>
                <div class="break"></div>

                <button type="submit" class="btn bg-light">Apply</button>

            </div>
        </form>
    </div>



    <div class="feed">
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>


    <div class="pageSwitcherForm align-self-center"
         [hidden]="!displaySwitcherForm"
    >
        <form [formGroup]="sortForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group col">
                <label for="page">Page</label>
                <input type="number" class="form-control" formControlName="page" id="page">
            </div>

            <div class="form-group col">
                <label for="nbPosts">Number of post</label>
                <input type="number" class="form-control" formControlName="nbPosts" id="nbPosts">
            </div>

            <button class="btn align-self-center" type="submit">Apply</button>
        </form>
    </div>

    <div class="pageSwitcher align-self-center">
        <span class="switchButton switchButtonLeft" (click)="previousPage()">&lt;</span>
        <span class="mx-3 currentPage" (click)="toggleDisplaySwitcherForm()">{{currentPage}}</span>
        <span class="switchButton switchButtonLeft" (click)="nextPage()">&gt;</span>
    </div>
</div>

